@import "../../bower_components/bootstrap/less/bootstrap.less";


.candidato-tbl {
    display: table;
    margin: auto;
}

.candidato-row {
    display: table-row;
}

.candidato-cell {
    display: table-cell;
    padding: 0 10px;
}
