@import "../../bower_components/bootstrap/less/bootstrap.less";

@brand-primary: darken(red, 20%);

body {
    background-color: @gray-darker;
    color: @gray-light;
}

.x text {
    fill: transparent;
}

.x text:hover {
    fill: @gray-lighter;
}

.bar {
    fill: fadeout(@brand-primary, 20%);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Black Ops One', cursive;
    color: @brand-primary;
}

.candidato-tbl {
    display: table;
    width: 100%;
    //table-layout: fixed;
    margin: auto;
}

.candidato-row {
    display: table-row;
}

.candidato-cell {
    display: table-cell;
    padding: 5px 10px;
    width: 100px;
}

.candidato-search {
    &:extend(.candidato-cell);
}

.candidate-profile {
    height: 54px;
    width: 54px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.profiles.well {
    overflow-y: scroll;
    max-height: 300px;

    .media-list {
        display: table-layout;
        border-collapse: collapse;
    }

    .media {
        display: table-row;
        width: 100%;

        & > * {
            display: table-cell;
            vertical-align: middle;
            padding-top: @padding-base-vertical;
            padding-bottom: @padding-base-vertical;
        }
    }

    .media-object {
        padding-right: @padding-base-horizontal;
    }

    .media:hover {
        cursor: pointer;
        .candidate-profile {
            border: 2px solid @brand-primary;
        }
    }

    .media-body {
        font-size: @font-size-small;
    }
}

.candidato-tbl {
    position: relative;

    .candidate-profile {
        height: 100px;
        width: 100px;
        margin: auto;
    }

    .candidate-profile:hover {
        cursor: pointer;
        border: 2px solid @brand-danger;
    }

    .nome {
        text-align: center;
    }
}
