<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Boxe Politico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/css/style.css">
  </head>
  <body ng-app="boxepolitico">
    <div class="container">
      <div class="row">
        <h1>BOXE POLITICO</h1>
      </div>
      <!-- candidates -->
      <div class="row" ng-controller="SearchCtrl">
        <div class="col-xs-2">
          <input class="form-control" type="text" ng-model="name" debounce="500" />

          <div class="profiles well">
            <ul class="media-list" ng-repeat="c in candidates">
              <li class="media">
                <div class="media-object" ng-click="select(c['id'])">
                  <div class="candidate-profile" style="background-image: url({{ c['foto'] }})"></div>
                </div>
                <div class="media-body">
                  {{ c['nome'] }}
                </div>
              </li>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="candidato-tbl" ng-controller="VsCtrl">

            <div class="candidato-row">
              <div class="candidato-cell" ng-repeat="c in candidates">
                <div class="candidate-profile" style="background-image: url({{ c.candidatura['foto'] }})"></div>
              </div>
            </div>

            <div class="candidato-row">
              <div class="candidato-cell nome bg-danger" ng-repeat="c in candidates">
                <h2>"{{ c.candidatura['apelido'] }}"</h2>
              </div>
            </div>

            <div class="candidato-row">
              <div class="candidato-cell bio" ng-repeat="c in candidates">
                <p>
                  <strong>
                    {{ c.candidatura["reeleicao"] ?
                      "Atual campeão o cinturão de " + c.candidatura['cargo'] + " do " + c.candidatura['estado'] :
                      "Desafiante to titulo de " + c.candidatura['cargo'] + " do " +  c.candidatura['estado'] }}
                  </strong>
                </p>
                <p ng-show="c.candidatura['bancadas']">
                  <span>
                    Representando a galera: {{ c.candidatura['bancadas'] }}
                  <span>
                </p>
              </div>
            </div>

        </div>
        </div>
    </div>
  </div>

  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/ng-debounce/angular-debounce.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
